

header{
    background-color: rgb(43, 41, 42, 0.247);
    width:100%;
}

img{
    width: 150px;
}
body {
   
   
    text-align: center;
    background-color: #000000;
}

h1  {
    color: #ffffff;
    text-align: center;
    
}

video {
    width: 100%;
    height: 450px;
    border: 0px solid #002fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb();
    justify-content: center;
    align-items: center;
}





form{
    padding: 50px 55px;
    box-shadow: 0 0 ;
}
source{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: center;
    align-items: center;
    justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #000000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}
.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

